# .gitignore
.DS_Store
/node_modules
/build
/.turbo

/dist
.env
*.log
.turbo
.vscode
.idea
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/print-backend/**/dist
/print-backend/**/node_modules
/print-backend/**/.turbo
/print-backend/**/.env.local
/print-backend/**/.env.development.local
/print-backend/**/.env.test.local
/print-backend/**/.env.production.local
/print-frontend/**/node_modules  
/print-frontend/**/.turbo
/print-frontend/**/.env.local
/print-frontend/**/.env.development.local
/print-frontend/**/.env.test.local
/print-frontend/**/.env.production.local        